[build]
target = "index.html"
dist = "dist"

[[hooks]]
stage = "pre_build"
command = "sh"
command_arguments = [
    "-c",
    "npx tailwindcss build -i src/tailwind.css -o $TRUNK_STAGING_DIR/tailwind.css",
]
